<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="container my-5" id="Tarifs" >


    <!-- Title and Objective -->
     <br><br>
     <br><br>

    <h1 class="text-center fw-bold giant-title">
      <img src="/assets/work-from-home.png" alt="productivity" width="100" height="100" class="mx-2">
      CheckMate
      <img src="/assets/work-from-home.png" alt="productivity" width="100" height="100" class="mx-2">
    </h1>
    <p class="fs-1 text-center giant-subtitle">Utilisez CheckMate gratuitement de manière illimitée ou abonnez-vous pour profiter de nos fonctions de productivité et de collaboration les plus avancées.
    </p>

    <!-- Rating and Icons -->
    <div class="text-center my-4">

        <img class="stars" src="/assets/etoile.png" alt="rate" width="30" height="30">
        <img class="stars" src="/assets/etoile.png" alt="rate" width="30" height="30" >
        <img class="stars" src="/assets/etoile.png" alt="rate" width="30" height="30" >
        <img class="stars" src="/assets/etoile.png" alt="rate" width="30" height="30" >

      <p class="my-2">4.2/5 sur 1000 avis</p>
      <div>
        <a href="#"><img src="/assets/apple.png" alt="Apple Store" width="30" height="30" class="mx-2"></a>
        <a href="#"><img src="/assets/android.png" alt="Google Play" width="30" height="30" class="mx-2"></a>


  <br> <br>
  <br> <br>


  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title fw-bold display-5">Starter : </h5>
          <br>
          <h4 class="card-text text-muted fs-5">Commencez à organiser votre vie</h4>
          <br>
        </div>
        <div class="card-body text-center">
          <h2 class="display-4">0$</h2>
          <br>
          <p>Un compte avec :</p>
          <br>
          <ul class="list-unstyled text-start">
            <li>5 projets personnels</li>
            <li>Ajout rapide intelligent</li>
            <li>Présentations en liste et tableau flexibles</li>
            <li>3 vues filtrées</li>
            <li>1 semaine d'historique d'activité</li>
            <li>Intégrez vos e-mails, votre agenda et plus</li>
          </ul>
        </div>
        <a href="#" class="btn btn-pink">Acheter maintenant</a>
        <br>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title fw-bold display-5">Pro : </h5>
          <br>
          <h4 class="card-text text-muted fs-5">Organisez votre travail et votre vie</h4>
          <br>
        </div>
        <div class="card-body text-center">
          <h2 class="display-4">4$</h2>
          <p>/mois, avec une facturation annuelle<br>5$ avec une facturation mensuelle</p>
          <p>Comme la version Starter, plus :</p>
          <ul class="list-unstyled text-start">
            <li>300 projets personnels</li>
            <li>Présentation en calendrier</li>
            <li>Rappels et durées des tâches</li>
            <li>150 vues filtrées</li>
            <li>Historique d'activité illimité</li>
            <li>Assistant IA</li>
            <li>Échéances Bientôt disponible !</li>
          </ul>
        </div>
        <a href="#" class="btn btn-pink">Acheter maintenant</a>
        <br>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title fw-bold display-5">Business : </h5>
          <br>
          <h4 class="card-text text-muted fs-5" >Gérez aussi votre travail d'équipe</h4>
          <br>
        </div>
        <div class="card-body text-center">
          <h2 class="display-3">6$</h2>
          <p>/utilisateur/mois, avec une facturation annuelle<br>8$ avec une facturation mensuelle</p>
          <p>Comme Pro pour tous les membres, plus :</p>
          <ul class="list-unstyled text-start">
            <li>Un espace d'équipe partagé</li>
            <li>500 projets d'équipe</li>
            <li>Une présentation en calendrier pour les projets</li>
            <li>Journaux d'activité granulaires de l'équipe</li>
            <li>Fonctionnalités partagés</li>
            <li>1000 membres d'équipe et invités</li>
            <li>1000 dossiers de projet</li>
            <li>Rôles et permissions d'équipe</li>
            <li>Facturation d'équipe centralisée</li>
          </ul>
        </div>
        <a href="#" class="btn btn-pink">Acheter maintenant</a>
        <br>
      </div>
    </div>
  </div>
</div>
